# Redirect public traffic on 8443 to localhost:443
https://172.17.0.4:8443 {
    tls internal

    header {
        X-HTTPS-Version "{http.request.proto}"
    }

    # Reverse proxy rules
    reverse_proxy /web* http://172.17.0.5:8000  # Web server
    reverse_proxy /video* http://172.17.0.6:9000  # Video server

}
